# fastapi
# uvicorn
# google-generativeai
# python-dotenv

# fastapi
# uvicorn
# python-dotenv
# chromadb
# tqdm
# pydantic
# requests
# google-generativeai
# langchain
# langchain-google-genai
# tavily-python



fastapi
uvicorn[standard]
python-dotenv
pydantic
requests
httpx
tqdm

chromadb
sentence-transformers
scikit-learn
numpy

langchain
langchain-google-genai
google-generativeai
tavily-python
openai


